@font-face {
    font-family: Canter;
    src: url('/fonts/Canter_Light.otf');
    font-weight: 800;
}

@font-face {
    font-family: Canter_Bold;
    src: url('/fonts/Canter_Bold.otf');
    font-weight: 800;
}

@font-face {
    font-family: Canter_Bold_Shadow;
    src: url('/fonts/Canter_Bold_Shadow.otf');
    font-weight: 800;
}

@font-face {
    font-family: Canter_Outline;
    src: url('/fonts/Canter_Outline.otf');
    font-weight: 800;
}

body {
    background: #808080;
    margin: 0px;
}

/* Preloader */

.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 50vw;
    height: 50vh;
    background: url('/img/logo.png') no-repeat center;
    background-size: contain;
    animation: fadeIn 3s linear 0s infinite;

}

@keyframes fadeIn {
    0%   { opacity: 0; }
    10%  { opacity: 0; }
    20%  { opacity: 0.2; }
    30%  { opacity: 0.4; }
    40%  { opacity: 0.8; }
    50%  { opacity: 1; }
    60%  { opacity: 0.8; }
    70%  { opacity: 0.4; }
    80%  { opacity: 0.2; }
    90%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/* Menu */

#menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Headroom Menu */
.headroom--pinned {
	transform: translateY(0);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

.header--fixed {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
    top: 0;
    transition: all .3s ease 0s;
}

/* Underline Menu */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #FFA500;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.menu-position {
    height: 50px;
}

/* Perfil */
.personal-photo {
    width: 80%;
    animation: rightFade 1s;
}

@keyframes rightFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
}



.info-h1 {
    font-family: Canter_Bold;
    font-size: 14vh;
    animation: leftFade 1s;
}

.info-text {
    animation: leftFade 1s;
}

@keyframes leftFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Parallax Habilidades */
.parallax-container {
    height: 75vh;
  }

.hab-h1 {
    font-family: Canter_Bold;
    font-size: 15vh;
}